<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/general.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/Images/h-logo.png" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    @if (Session["name"] != null)
                    {
                        <li><a href="/User/">@Session["name"].ToString()</a></li>
                    }
                    else
                    {
                        <li><a href="/Auth/">Login</a></li>
                    }
                    
                </ul>
            </div>
        </div>
    </header>

    <div class="container body-content">
        <div id="fb-root"></div>
        @RenderBody()
    </div>
    <footer>
       <p>Health+ © 2014</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
