<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/general.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/"><img src="~/Content/Images/h-logo.png" /></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Início</a></li>
                    @if (Session["user"] != null) {
                        if (Session["shopping_cart"] == null) {
                            <li><a href="/Order/ShoppingCart">Carrinho 0</a></li>
                        } else {
                            <li><a href="/Order/ShoppingCart">Carrinho @(((WebClient_.Models.ShoppingCart)Session["shopping_cart"]).getCount())</a></li>
                        }

                        <li><a href="/User/">@(((WebClient_.Models.UserSession)Session["user"]).name)</a></li>
                    } else {
                        <li><a href="/Auth/">Login</a></li>
                    }

                </ul>
            </div>
        </div>
    </header>

    <div class="container body-content">
        <div id="fb-root"></div>
        @RenderBody()
    </div>
    <footer>
        <p>Health+ © 2014</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
