@{
    ViewBag.Title = "Home Page";
}

@model List<List<WebClient_.Models.SearchAdModel>>

@Styles.Render("~/Content/search.css")
@Styles.Render("~/Content/home.css")
@Html.Partial("_SearchBar")

<div class="slider-wrapper">
    <div class="slider container">
        <ul class="slides">
            @foreach (var ad in Model[0].Select((value, i) => new { i, value })) {
                if (ad.i % 4 == 0) {
                    @Html.Raw("<li class=\"slide\"><div class=\"row\">")
                }

                <div class="col-md-3">
                    <a href="/Ad?id=@ad.value.id">
                        <div class="service-image">
                            <img src="@ad.value.img_url" />
                        </div>
                    </a>
                    <span class="service">@ad.value.name</span>
                    <span class="service-local">@ad.value.inst_name - @ad.value.city</span>
                </div>

            }
        </ul>
    </div>
</div>
<div class="slider-navigation-controls">
</div>

<div class="section-title">
    <h4>CUPÕES</h4>
    <hr />
</div>

<div class="home-results">
    @Html.Partial("_AdResult", Model[0])
</div>

@Scripts.Render("~/Scripts/jquery.glide.min.js")
@Scripts.Render("~/Scripts/local/home.js")