@model WebClient_.Models.UserInfo

@{
    ViewBag.Title = "User Page";
}



@Styles.Render("~/Content/user.css")

<div class="row user-desc">
    <div class="col-xs-2 col-md-1">
        <img class="img-rounded" src="@(((WebClient_.Models.UserSession)(Session["user"])).profile_picture_url)" alt="Foto do Utilizador" />
    </div>
    <div class="col-xs-8 col-md-4">
        <h4>@Html.DisplayFor(m => m.name)</h4>
        <h4> @Html.DisplayFor(m => m.email)</h4>
        <hr class="user-separator desc" />
    </div>
</div>
<div id="accordion">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <img src="~/Content/images/dados_pessoais.png" alt="Dados Pessoais" />
                </div>
                <div class="col-xs-8 col-md-4">
                    <div class="panel-group" id="accordion">
                        <div class="hp-panel-user-page-accordion panel panel-default">
                            <div class="no-background panel-heading" id="div-badge1">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="hp-user-accordion-title panel-title">
                                    Dados Pessoais
                                    <span class="pull-right"><span class="glyphicon glyphicon-chevron-right" id="dp-badge1"></span></span>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.DisplayFor(m => m.nif)
                                    <br />
                                    @Html.DisplayFor(m => m.phone_number)
                                    <br />
                                    @Html.DisplayFor(m => m.address)
                                    <br />
                                    @Html.DisplayFor(m => m.city)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-md-5">
                    <hr class="user-separator item" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <img src="~/Content/images/cupoes_subscritos.png" alt="Cupões Subscritos" />
                </div>
                <div class="col-xs-8 col-md-4">
                    <div class="panel-group" id="accordion">
                        <div class="hp-panel-user-page-accordion panel panel-default">
                            <div class="no-background panel-heading " id="div-badge2">
                                <a data-toggle="collapse" href="#collapseTwo" data-parent="#accordion" class="hp-user-accordion-title panel-title">
                                    Cupões Subscritos
                                    <span class="pull-right"><span class="glyphicon glyphicon-chevron-right" id="dp-badge2"></span></span>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @foreach (var ad in Model.ads_subscriptions.Where(x => x.end_time == DateTime.Today)) {
                                        <div class="subscribed-ad">
                                            @if (ad.end_time == DateTime.Today) {
                                            <span class="date">Hoje</span>
                                            } else {
                                            <span class="date">É HOJE CRL</span>
                                            }


                                            @Html.DisplayFor(a => ad.name)
                                            <br />
                                            @Html.DisplayFor(a => ad.end_time)
                                            <br />
                                            @Html.DisplayFor(a => ad.price)
                                            <br />
                                            @Html.DisplayFor(a => ad.institution_name)
                                            <br />
                                            @Html.DisplayFor(a => ad.local)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-md-5">
                    <hr class="user-separator item" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <img src="~/Content/images/cupoes_adquiridos.png" alt="Cupões adquiridos" />
                </div>
                <div class="col-xs-8 col-md-4">
                    <div class="panel-group" id="accordion">
                        <div class="hp-panel-user-page-accordion panel panel-default">
                            <div class="no-background panel-heading ">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="hp-user-accordion-title panel-title" id="div-badge3">
                                    Cupões adquiridos
                                    <span class="pull-right"><span class="glyphicon glyphicon-chevron-right" id="dp-badge3"></span></span>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @foreach (var cup in Model.cupons) {

                                        @Html.DisplayFor(a => cup.name)
                                        <br />
                                        @Html.DisplayFor(a => cup.service)
                                        <br />
                                        @Html.DisplayFor(a => cup.specialty)
                                        <br />


                                        @Html.DisplayFor(a => cup.end_time)
                                        <br />
                                        @Html.DisplayFor(a => cup.state)

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-md-5">
                    <hr class="user-separator item" />
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/local/user.js")