@model WebInstitution.Models.LoginFormModel

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/home.css")

</div>
<div id="login-wrapper">
    <div id="upper-triangle"></div>
    <div id="lower-triangle"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h3>@Resources.ManagerLoginHeaderName</h3>
                
                <!-- Error div -->
                @if (TempData["msg"] != null)
                {
                    <div id="login-error">
                        @TempData["msg"]
                    </div>
                }

                <form method="post" action="../Account/ManagerLogin">
                    <span><img src="~/Content/Images/pictogramas-23.png" /><span class="vertical-hr"></span></span>
                    @Html.TextBoxFor(model => model.username, new { id = "username", placeholder = Resources.ManagerLoginUserPlaceholder })
                    @Html.ValidationMessageFor(model => model.username)
                    <span><img src="~/Content/Images/pictogramas-22.png" /><span class="vertical-hr"></span></span>
                    @Html.PasswordFor(model => model.password, new { id = "password", placeholder = Resources.ManagerLoginPasswordPaceholder })
                    @Html.ValidationMessageFor(model => model.password)
                    <hr />
                    @Html.CheckBoxFor(model => model.remember)
                    <label for="remember">@Resources.ManagerLoginKeepLoggedName</label>
                    <input type="submit" value="@Resources.ManagerLoginButtonName" />
                </form>
            </div>
        </div>
    </div>
</div>