@model WebClient_.Models.ShoppingCart

@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PaymentDetails</h2>

@if (ViewBag.error != null)
{
    <h2>@ViewBag.error</h2>
}

<h4>Subtotal @Model.getSubTotal()</h4>

@if (!Model.isFastCheckout())
{
    <h4>Quantity: @Model.getCount()</h4>
}

<h3>Payment details </h3>

<h5>Entity: @ViewBag.entity</h5>
<h5>Reference: @ViewBag.reference</h5>



<form method="post" action="/Order/FinalizePurchase">

    <input type="submit" value="Pay" />
</form>
