@model WebClient_.Models.ShoppingCart

@{
    ViewBag.Title = @Resources.PaymentDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>~@Resources.PaymentDetails</h2>

@if (ViewBag.error != null)
{
    <h2>@ViewBag.error</h2>
}

<h4>Subtotal @Model.getSubTotal()</h4>

@if (!Model.isFastCheckout())
{
    <h4>@Resources.Quantity: @Model.getCount()</h4>
}

<h3>@Resources.PaymentDetails</h3>

<h5>@Resources.Entity: @ViewBag.entity</h5>
<h5>@Resources.Reference: @ViewBag.reference</h5>



<form method="post" action="/Order/FinalizePurchase">

    <input type="submit" value="@Resources.Pay" />
</form>
