@model WebClient_.Models.ShoppingCart

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/cart.css")

<div class="row">
    <div class="col-md-12 pull-top">
        <h3>@Resources.ShoppingCart</h3>
        <hr />

        @if (Model == null) {
            @*User is requesting an empty cart*@
            <span id="empty-cart">@Resources.EmptyCartNotif</span>
        } else {
            foreach (var item in Model.getAds()) {
                <div class="cart-ad col-md-4 col-xs-2">
                    <span>@Html.DisplayFor(c => item.name)</span>
                    <hr />
                    <span><span class="title">Expira em</span> @Html.DisplayFor(c => item.end_time)</span>
                    <span><span class="title">Instituição</span> @Html.DisplayFor(c => item.inst_name)</span>
                    <span><span class="title">Local</span> @Html.DisplayFor(c => item.city)</span>
                    <span><span class="title">Preço</span> @Html.DisplayFor(c => item.price) €</span>
                </div>
            }

            <form method="post" action="/Order/ShowPaymentDetails" class="checkout col-md-12 clearfix">
                <input class="btn btn-success" type="submit" value="@Resources.BuyAds" />
            </form>
        }
    </div>
</div>