@model WebInstitution.Models.AdFormModel

@{
    var prevAds = (List<WebInstitution.Models.AdDisplayModel>)ViewData["prev_ads"];
}

<div class="col-md-12 col-xs-12 clearfix">
    <div id="add">
        <img src="~/Content/Images/pictogramas-08.png" />
    </div>
    <div id="add-inputs" class="row">
        <div class="col-md-5">
            <ul id="last-cupons">
                @foreach (var ad in prevAds)
                {
                <li>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="img">
                                <img id="ad-photo" src="@ad.img_url" width="60" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="details">
                                @Html.HiddenFor(model => ad.name)
                                @Html.HiddenFor(model => ad.service)
                                @Html.HiddenFor(model => ad.specialty)
                                @Html.HiddenFor(model => ad.price)
                                @Html.HiddenFor(model => ad.discount)
                                @Html.HiddenFor(model => ad.description)
                                @Html.HiddenFor(model => ad.img_url)
                                <span>@ad.name</span>
                                <span>@ad.service</span>
                                <span>@ad.buyed_cupons</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="price">
                                <span>@ad.price €</span>
                            </div>
                            <button id="importAd">Import</button>
                        </div>
                    </div>                 
                </li>
                }
                
            </ul>
        </div>

        <div class="col-md-7">
            @using (Html.BeginForm("Create", "Ad", FormMethod.Post, new { enctype = "multipart/form-data", id = "newAdForm" })) {
                
                @Html.HiddenFor(model => model.img_url)
                
                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.service)
                        @Html.TextBoxFor(model => model.service)
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.specialty)
                        @Html.TextBoxFor(model => model.specialty)
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.name)
                        @Html.TextBoxFor(model => model.name)
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                      @Html.LabelFor(model => model.price)
                        @Html.TextBoxFor(model => model.price)
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                       @Html.LabelFor(model => model.previous_price)
                        @Html.TextBoxFor(model => model.previous_price)
                    </div>
                </div>


                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.total_cupons)
                        @Html.TextBoxFor(model => model.total_cupons)
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.start_time)
                        @Html.TextBoxFor(model => model.start_time, new { type = "date" })
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.end_time)
                        @Html.TextBoxFor(model => model.end_time, new { type = "date" })
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.Label(Resources.AdImageName)
                        @Html.TextBoxFor(model => model.photo, new { type = "file"})
                    </div>
                </div>

                <div class="form-group clearfix row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.description)
                        @Html.TextAreaFor(model => model.description)
                    </div>
                </div>

                <input id="createAd" type="submit" value="Create" />
            }
        </div>
    </div>
</div>
