@model WebInstitution.Models.AdDisplayModel

@{
    var ads = (List<WebInstitution.Models.AdDisplayModel>) ViewData["active_ads"];
    var session = (WebInstitution.Models.SessionModel)Session["manager"];
    var inst = (WebInstitution.Models.InstitutionModel)session.currentInstitution;
    int i = -1;
}

<div class="col-md-12 col-xs-12 clearfix">
    <div class="row">
        <div class="col-md-12 col-xs-12 clearfix">
            <div id="details">
                <span id="inst-name">@inst.name</span>
                <span id="inst-local">@inst.city</span>
                <hr />
                <span>Editar cupões</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 clearfix">
            <div id="cupons-list-wrapper">
            @foreach (var ad in ads)
            {
                i++;

                if (i % 2 == 0)
                {
                    @:<div class="row">
                }
                <div class="col-md-6">
                    <div class="cupon-wrapper" data-id="@ad.id">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="img"></div>
                            </div>
                            <div class="col-md-7">
                                <div class="details">
                                    <span>@ad.name</span>
                                    <span>@ad.service</span>
                                    <span>@ad.specialty</span>
                                    <span>@ad.end_time.ToShortDateString()</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price">
                                    <span>@ad.price €</span>
                                </div>
                                <a id="deleteAd" href="#"><img src="~/Content/Images/pictogramas-24.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                if (i % 2 == 1)
                {
                    @:</div>                       
                }
            }
            </div>
        </div>
    </div>
