@model WebInstitution.Models.InstitutionModel

<div class="col-md-12 col-xs-12 clearfix">
    <div id="inst">
        <img src="~/Content/Images/pictogramas-03.png" />
    </div>
    <div id="settings-inputs" class="row">
        @using (Html.BeginForm("SubmitDetails", "Account", Model)) {
            @Html.AntiForgeryToken()
            
            @Html.HiddenFor(model => model.id);

            <div class="col-md-6">
                @Html.ValidationSummary(true)

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.name)
                        @Html.EditorFor(model => model.name)
                        @Html.ValidationMessageFor(model => model.name)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.address)
                        @Html.EditorFor(model => model.address)
                        @Html.ValidationMessageFor(model => model.address)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.city)
                        @Html.EditorFor(model => model.city)
                        @Html.ValidationMessageFor(model => model.city)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.latitude)
                    @Html.EditorFor(model => model.latitude)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.longitude)
                        @Html.EditorFor(model => model.longitude)
                        @Html.ValidationMessageFor(model => model.longitude)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.email)
                        @Html.EditorFor(model => model.email)
                        @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.website)
                        @Html.EditorFor(model => model.website)
                        @Html.ValidationMessageFor(model => model.website)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.phone_number)
                        @Html.EditorFor(model => model.phone_number)
                        @Html.ValidationMessageFor(model => model.phone_number)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.fax)
                        @Html.EditorFor(model => model.fax)
                        @Html.ValidationMessageFor(model => model.fax)
                </div>

                <div class="form-group clearfix">
                    @Html.LabelFor(model => model.advertise)
                        @Html.CheckBoxFor(model => model.advertise)
                        @Html.ValidationMessageFor(model => model.advertise)
                </div>

                <div class="form-group clearfix">
                    <div class="col-md-offset-7 col-md-5">
                        <input class="btn btn-success"  id="saveSettings" type="submit" value="Save" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>