@model WebClient_.Models.Ad

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form method="post" action="../Ad/SearchAd">
        <input type="text" name="textSearch" />
        <input type="submit" value="Procurar" />
    </form>*@

@Styles.Render("~/Content/ad.css")

<div class="row col-xs-12 col-md-12 pull-top">

    @*<form method="post" action="../Ad/SearchAd">
            <input type="text" name="textSearch" />
            <input type="submit" value="Procurar" />
        </form>*@

    <div class="col-xs-2 col-md-4">
        <img id="cupn-img" class="img-responsive" src="~/Content/images/cupon.png" alt="Imagem cupao" />
    </div>
    <div class="col-xs-8 col-md-6">
        <h4 id="cupn-title">@Html.ValueFor(ad => ad.name)</h4>
        <hr class="separator-title" />
        <h5>Descrição</h5>
        <p>
            @Html.ValueFor(ad => ad.description)
        </p>
        <hr class="separator-details" />
        <h5>Data</h5>
        <p>
            @Html.ValueFor(ad => ad.end_time)
        </p>
        <hr class="separator-details" />
        <h5>Instituição</h5>
        <p>
            @Html.ActionLink(Model.institution_name, "/Institution", new { id = Model.institution_id })
            
        </p>
        <hr class="separator-details" />
        <h5>Desconto</h5>
        <p>
            @Html.ValueFor(ad => ad.discount) %
        </p>
        <hr class="separator-details" />
        <h5>Localização</h5>
        <p>
            @Html.ValueFor(ad => ad.local)
        </p>
        <hr class="separator-details" />
        <h5>Preço</h5>
        <p>
            @Html.ValueFor(ad => ad.price) €
        </p>
        @*Client requirement for a fast purchase*@
        <a href="/Order/ShowPaymentDetails?id=@Model.id"><img id="buy-btn" @*onclick="addCuponToCart('@Url.Action("addToCart","User", Model)')"*@ class="left" src="/Content/images/pictogramas-07.png" alt="Fast Checkout" /></a>
        @*TODO: Redirect to finalize order page*@
        <a href="#"><img id="buy-btn" onclick="addCuponToCart('@Url.Action("addToCart","Order", Model)')" class="left" src="~/Content/images/carrinho.png" alt="Add to cart" /></a>
        <a href="#"><img id="subscribe-btn" class="left" src="~/Content/images/cupoes_subscritos.png" alt="Subscribe" /></a>
    </div>
</div>

<script type="text/javascript" src="/Scripts/local/cupon.js"></script>

