@{
    ViewBag.Title = "Pesquisa";
    var columns = 4;
}

@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Styles.Render("~/Content/search.css")

<div id="search-filters-wrapper">
    @Html.Partial("_SearchBar")
    <div id="region-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-02.png" />
        <header>
            <h6>REGIÃO</h6>
            <span class="minus-btn"></span>
        </header>

        <div class="options">
            @Html.RadioButton("region", "50", true)
            <label onclick="regionFilter(1)">> 50 km</label>
            @Html.RadioButton("region", "50-100", false)
            <label onclick="regionFilter(2)">> 50 km - < 100 km</label>
            @Html.RadioButton("region", "100", false)
            <label onclick="regionFilter(3)">> 100 km</label>
        </div>
    </div>

    <div id="price-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-07.png" />
        <header>
            <h6>PREÇO</h6>
            <span class="minus-btn"></span>
        </header>

        <div id="slider-range-wrapper" onmouseup="updatePriceFilter()" onmouseout="updatePriceFilter()">
            <div id="slider-range"></div>
            <span id="min-price"></span>
            <span id="max-price"></span>
        </div>
    </div>

    <div id="speciality-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-08.png" />
        <header>
            <h6>ESPECIALIDADE</h6>
            <span class="minus-btn"></span>
        </header>

        <div class="options">

            @Html.RadioButton("region", "Todos", true)
            <label onclick="updateSpecialtyFilter('Todos')">Todos</label>

            @for (int i = 0; i < ViewBag.ListSpecialty.Count; i++) {
                @Html.RadioButton("region", "@ViewBag.ListSpecialty[i]", false)
                <label onclick="updateSpecialtyFilter('@ViewBag.ListSpecialty[i]')">@ViewBag.ListSpecialty[i]</label>
            }
        </div>
    </div>

</div>

<div class="search-wrapper pull-top">
    <!-- ADs-->
    <div class="ad-search-wrapper">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                @for (int i = 0; i < ViewBag.ListAds.Count; i++) {
                    <div class="col-md-3 searched-ad">
                        <span class="latitude-ad" style="display:none"> @ViewBag.ListAds[i]["latitude_institution"] </span>
                        <span class="longitude-ad" style="display:none"> @ViewBag.ListAds[i]["longitude_institution"] </span>
                        <span class="specialty-ad" style="display:none">@ViewBag.ListAds[i]["specialty"]</span>
                        <a href="/Ad?id=@ViewBag.ListAds[i]["id"]">
                            <div class="img-details">
                                <div class="img">
                                    <img class="cupon-thumb" src="@ViewBag.ListAds[i]["img_link"]" />
                                </div>
                                <div class="hidden-details">
                                    <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                                    <hr />
                                    <span>Desconto @ViewBag.ListAds[i]["discount"]%</span>
                                </div>
                            </div>
                        </a>
                        <span class="cupn-service">@ViewBag.ListAds[i]["name"]</span>
                        <span>@ViewBag.ListAds[i]["name_institution"]</span>
                        <span class="add-price">@ViewBag.ListAds[i]["price"] €</span>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- INSTITUTIONs-->

    <div class="inst-search-wrapper">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                @for (int i = 0; i < ViewBag.ListInstitution.Count; i++) {

                    <div class="col-md-3 searched-institution">

                        <span class="latitude-ad" style="display:none"> @ViewBag.ListInstitution[i]["latitude"] </span>
                        <span class="longitude-ad" style="display:none"> @ViewBag.ListInstitution[i]["longitude"] </span>
                        <a href="#">
                            <div class="img-details">
                                <div class="img"></div>
                                <div class="hidden-details">
                                    <img id="buy-btn" class="left" src="~/Content/images/cupoes_subscritos.png" alt="Subscrever" />
                                    <hr />
                                    <span>Subscrever</span>
                                </div>
                            </div>
                        </a>
                        <span class="cupn-service">@ViewBag.ListInstitution[i]["name"]</span>
                        <span>@ViewBag.ListInstitution[i]["address"]</span>
                        <span>@ViewBag.ListInstitution[i]["city"]</span>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/local/search.js")
@Scripts.Render("~/Scripts/local/general.js")
