@{
    ViewBag.Title = "Pesquisa";
}

@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Styles.Render("~/Content/search.css")

<div id="search-filters-wrapper">
    @Html.Partial("_SearchBar")

    <div id="type-filter" class="clearfix">
        <h5>@Resources.Results</h5>
        <hr />
        <button id="cp-btn" class="current">@Resources.Cupon</button>
        <button id="inst-btn">@Resources.Institution</button>
    </div>

    <div id="region-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-02.png" />
        <header>
            <h6>@Resources.Region</h6>
            <span class="minus-btn">-</span>
        </header>

        <div class="options">
            @Html.RadioButton(Resources.Region, "50", true)
            <label onclick="regionFilter(1)">> 50 km</label>
            @Html.RadioButton(Resources.Region, "50-100", false)
            <label onclick="regionFilter(2)">> 50 km - < 100 km</label>
            @Html.RadioButton(Resources.Region, "100", false)
            <label onclick="regionFilter(3)">> 100 km</label>
        </div>
    </div>

    <div id="price-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-07.png" />
        <header>
            <h6>@Resources.Price</h6>
            <span class="minus-btn">-</span>
        </header>

        <div id="slider-range-wrapper" onmouseup="updatePriceFilter()" onmouseout="updatePriceFilter()">
            <div id="slider-range"></div>
            <span id="min-price"></span>
            <span id="max-price"></span>
        </div>
    </div>

    <div id="speciality-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-08.png" />
        <header>
            <h6>@Resources.Specialty</h6>
            <span class="minus-btn">-</span>
        </header>

        <div class="options">

            @Html.RadioButton(Resources.Region, Resources.All, true)
            <label onclick="updateSpecialtyFilter('Todos')">Todos</label>

            @for (int i = 0; i < ViewBag.ListSpecialty.Count; i++) {
                @Html.RadioButton(Resources.Region, "@ViewBag.ListSpecialty[i]", false)
                <label onclick="updateSpecialtyFilter('@ViewBag.ListSpecialty[i]')">@ViewBag.ListSpecialty[i]</label>
            }
        </div>
    </div>

</div>

<div id="search-wrapper" class="pull-top">
    <!-- ADs-->
    <div id="ad-search-wrapper">
        <span id="last-ad-id" style="display: none">@ViewBag.last_ad_id</span>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                @Html.Partial("_AdResult")
            </div>
        </div>
    </div>

    <!-- INSTITUTIONs-->

    <div id="inst-search-wrapper">
        <span id="last-inst-id" style="display: none">@ViewBag.last_inst_id</span>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                @Html.Partial("_InstitutionResult")
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/local/search.js")
@Scripts.Render("~/Scripts/local/general.js")
