@{
    ViewBag.Title = "Pesquisa";
    var columns = 4;
}

@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Styles.Render("~/Content/search.css")

<div id="search-filters-wrapper">
    @Html.Partial("_SearchBar")
    <div id="region-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-02.png" />
        <header>
            <h6>REGIÃO</h6>
            <span class="minus-btn"></span>
        </header>

        <div class="options">
            @Html.RadioButton("region", "50", true)
            <label onclick="regionFilter(1)">> 50 km</label>
            @Html.RadioButton("region", "50-100", false)
            <label onclick="regionFilter(2)">> 50 km - < 100 km</label>
            @Html.RadioButton("region", "100", false)
            <label onclick="regionFilter(3)">> 100 km</label>
        </div>
    </div>

    <div id="price-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-07.png" />
        <header>
            <h6>PREÇO</h6>
            <span class="minus-btn"></span>
        </header>

        <div id="slider-range-wrapper" onmouseup="updatePriceFilter()">
            <div id="slider-range"></div>
            <span id="min-price"></span>
            <span id="max-price"></span>
        </div>
    </div>

    <div id="speciality-filter" class="filter clearfix">
        <img src="~/Content/Images/pictogramas-08.png" />
        <header>
            <h6>ESPECIALIDADE</h6>
            <span class="minus-btn"></span>
        </header>

        <div class="options">
            @Html.RadioButton("region", "cancro1", true)
            <label> ESPECIALIDADE CANCRO 1 </label>
            @Html.RadioButton("region", "cancro2", false)
            <label> ESPECIALIDADE CANCRO 2 </label>
            @Html.RadioButton("region", "cancro3", false)
            <label> ESPECIALIDADE CANCRO 3 </label>
        </div>
    </div>

</div>

@for (int i = 0; i < ViewBag.ListAds.Count; i++)
{
    if (i == 0)
    {
        @:<div class="row grid-line">
    }
    else if (Convert.ToDouble(i % columns) == 0)
    {
        @:</div>
    @:<div class="row grid-line">
    }

    <div class="col-md-2 col-md-offset-3 searched-ad">
        <span class="latitude-ad" style="display:none"> @ViewBag.ListAds[i]["latitude_institution"] </span>
        <span class="longitude-ad" style="display:none"> @ViewBag.ListAds[i]["longitude_institution"] </span>
        <a href="/Ad?id=@ViewBag.ListAds[i]["id"]">
            <div class="img-details">
                <div class="img"></div>
                <div class="hidden-details">
                    <img id="buy-btn" class="left" src="~/Content/images/carrinho.png" alt="Comprar" />
                    <hr />
                    <span>Desconto @ViewBag.ListAds[i]["discount"]%</span>
                </div>
            </div>
        </a>
        <span class="cupn-service">@ViewBag.ListAds[i]["name"]</span>
        <span>@ViewBag.ListAds[i]["name_institution"]</span>
        <span class="add-price">@ViewBag.ListAds[i]["price"] €</span>
    </div>

    if ((i + 1) == ViewBag.ListAds.Count)
    {
        @:</div>
    }
}


@Scripts.Render("~/Scripts/local/search.js")
@Scripts.Render("~/Scripts/local/general.js")